.back{
    font-size: 30px;
    border-radius: 20px;
    background-color: red;
    border:none;
    color:white;
    width:100px;
    height:40px;
}

.back:hover{
    border-color: red;
    color:red;
    background-color: white;
    border-width:1px;
    cursor:pointer;
}

.questions{
    display: inline-block;
    margin-right: 20px;
}